@model IEnumerable<Indutry4._0.Models.FeedbackPost>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<article>

    <!--1. Background and Title-->
    <section id="companiesPage_background1">
        <!--1st background image-->
        <header id="header2"> Companies and Organizations</header><!--large header-->
        <p id="intro">
            The Industry 4.0 market is forecasted to reach $1 trillion by 2030,
            dominated by global technology giants including Alphabet-Google, HP,
            Samsung, IBM, NEC, Microsoft, and more. According to the new 4-volume
            report by HSRC: Global Industry 4.0 Market & Technologies 2018-2023,
            the Industry 4.0 market will reach $214B by 2023
            (https://www.prnewswire.com/news-releases/global-tech-giants-to-lead-the-industry-40-revolution-300585640.html)
            <br>-Wikipedia-
        </p>
    </section>

    <!--2.Images-->
    @*<div class="padding" class="container-fluid" >*@
        <section class="row" id="companies">

            <!--6 images for 6 companies and organisations here-->
            <!--use javascript or jquery to add them-->
            <!--good for extension if there are more companies and organisations-->

        </section>
    @*</div>*@


</article>

<section>
    <h1 id="feedback">Feedback</h1>
</section>

<section>
    @if (User.Identity.IsAuthenticated)
    {
        <div style="text-align:center;">
            <a href="~/FeedbackPosts/Create/" class="btn btn-info">Submit your feedback</a>
        </div>
    }
    else
    {
        <div style="text-align:center;">
            Please <a href="~/Identity/Account/Login?returnUrl=~/Home/companiesOrganizations">login</a> or
            <a href="~/Identity/Account/Register?returnUrl=~/Home/companiesOrganizations">create an account</a>
            to submit your feedback on this page
        </div>
    }

    <hr />


</section>

<section>
    @foreach (var item in Model)
    {
        <h2>@Html.DisplayFor(modelItem => item.Heading)</h2>
        <p>&#64;@Html.DisplayFor(modelItem => item.CompanyOrganizationName)</p>
        @*<p>@Html.DisplayFor(modelItem => item.StarRating)</p>*@
        <p>
            @{
                for (int i = 0; i < item.StarRating; i++)
                {
                    <span style="color: #f8bd08; ">&#x2605;</span>
                }
                for (int i = 0; i < 5 - item.StarRating; i++)
                {
                    <span>&#x2606;</span>
                }
            }
        </p>

        <p>@Html.DisplayFor(modelItem => item.Feedback)</p>
        <p>Posted by <b>@Html.DisplayFor(modelItem => item.UserName)</b> on @Html.DisplayFor(modelItem => item.Date)</p>


        @if (User.IsInRole("Manager"))
        {
            <a asp-controller="FeedbackPosts" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-light">Delete</a>
            <a asp-controller="FeedbackPosts" asp-action="Edit" asp-route-id="@item.Id"  class="btn btn-light">Edit</a>
        }

        <a asp-controller="FeedbackPosts" asp-action="Details" asp-route-id="@item.Id" class="btn btn-default">Details</a>
        <a asp-controller="FeedbackPosts" asp-action="IncreaseAgree" asp-route-id="@item.Id" class="btn btn-success">Agree(@item.Agree)</a>
        <a asp-controller="FeedbackPosts" asp-action="IncreaseDisagree" asp-route-id="@item.Id" class="btn btn-danger">Disagree(@item.Disagree)</a>
        <hr />
    }
</section>

